<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @name %></h1>
    <p>
      Your account has been deleted from the <%= t("app_title") %>.
    </p>
    <p>
      Feel free to come back whenever you want.
    </p>
  </body>
</html>